extends layout

block content
  h1= title
  p Welcome to #{title}
  p I'm a passionate traveler and I enjoy capturing the beauty of different cultures through photography. In my free time, I'm an avid hiker and love discovering new trails.